*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.home {
  overflow-x:hidden ;
}
.loader{
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}